<div class="container-fluid background">
    <div class="row jumbotron">
        <div class="col-12 text-center">
            <h1>Quotes</h1>
            <h4>Write Quotes and post for the community to upvote and downvote.</h4>
            <h5>Put down your favourite and inspiring Authors.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 margin-b">
            <div class="quotes-form">
                <app-quotes-form (addQuote)='addNewQuote($event)'></app-quotes-form>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="quotes-content">
                <div *ngFor='let quote of quotes; let i=index'>
                    <div *ngIf='quote.upvotes===upvotesObj.maxUpvotes;else elseBlock'>
                        <div appHighestUpvotes class="card">                                
                            <div (mouseenter)='toShow(i)' (mouseleave)='toHide(i)' class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="text-left time-passed">{{quote.currentTime|timePassed:quote.date}} min ago</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-right"><fa-icon [icon] ="faTrash" (click)='deleteQuote(i)' class="deleteQuote"></fa-icon></p>
                                    </div>
                                </div>
                                <hr>                                                            
                                <blockquote class="blockquote mb-0">
                                    <p>"{{quote.quote}}"</p>
                                    <footer class="blockquote-footer">{{quote.author}}</footer>
                                </blockquote><br>
                                <div *ngIf='quote.showDescription'>
                                    <app-quote-detail [quote]='quote' (thisUpvote)=updateVotes($event)></app-quote-detail>
                                </div>                                                               
                            </div>                            
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="card">                                
                            <div (mouseenter)='toShow(i)' (mouseleave)='toHide(i)' class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="text-left time-passed">{{quote.currentTime|timePassed:quote.date}} min ago</p>
                                    </div>                                    
                                    <div class="col-6">
                                        <p class="text-right"><fa-icon [icon]="faTrash" (click)='deleteQuote(i)' class="deleteQuote"></fa-icon></p>
                                    </div>
                                </div>
                                <hr>                            
                                <blockquote class="blockquote mb-0">                                    
                                    <p>"{{quote.quote}}"</p>                                   
                                    <footer class="blockquote-footer">{{quote.author}}</footer>
                                </blockquote><br>
                                <div *ngIf='quote.showDescription'>
                                    <app-quote-detail [quote]='quote'></app-quote-detail>
                                </div>                                                               
                            </div>                            
                        </div>
                    </ng-template>                    
                    <br>
                </div>   
            </div>
        </div>
    </div>      
</div>